<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: slateblue;">
    <a class="navbar-brand mr-auto" href="#">Stock Search</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-auto" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
          <div><a class="nav-link active ml-auto" href="">Search <span class="sr-only ml-auto">(current)</span></a>
          </div>
        <div><a class="nav-link ml-auto" href="watchlist">Watchlist</a></div>
        <div><a class="nav-link ml-auto" href="portfolio">Portfolio</a></div>
        
      </div>
    </div>
  </nav>