.star {
    outline:none;
    border:0px;
    background-color: inherit;
}
.wrapper {
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
  .inner {
    color: white;
    padding: 12px;
  }