<div class="container">
    <div class="row">
        <div class="col ml-auto mr-auto">
            <ul class="list-group">
                <li class="list-group-item border-0 d-flex justify-content-between">
                    <span><h1>{{this.detaildesc.ticker}}</h1></span><span><h1>{{this.detailclose.last}}</h1></span>
                </li>
                <li class="list-group-item border-0 d-flex justify-content-between">
                    <span><h2 class="text-muted">{{this.detaildesc.name}}</h2></span><span><h2>{{this.detailclose.change}}</h2></span>
                </li>
                <li class="list-group-item border-0 d-flex justify-content-between">
                    <span>{{this.detaildesc.exchangecode}}</span><span>{{this.date}}</span>
                </li>
                <li class="list-group-item border-0 d-flex justify-content-between">
                    <span><button class="btn btn-success">BUY</button></span><span></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>Market Open</p>
        </div>
    </div>
<mat-tab-group mat-stretch-tabs mat-align-tabs="center">
    <mat-tab label="Summary"><app-detail-summary [dailydata]="dailydata" [detailclose]="detailclose" [detailopen]="detailopen" [detaildesc]="detaildesc"></app-detail-summary> </mat-tab>
    <mat-tab label="News"> <app-detail-news></app-detail-news> </mat-tab>
    <mat-tab label="Charts"> <app-detail-chart></app-detail-chart> </mat-tab>
  </mat-tab-group>
</div>