<div class="container">
    <div class="row">
        <div class="col"style="text-align: center;">
            <h1 class="display-1" style="font-size:6rem;font-weight:300;line-height:1.2"> STOCK SEARCH</h1>
        </div>
        
        
    </div>
    <div class="row">
        <div class="col" style="text-align: center;">
            <form class="example-form">
                
                  <input >
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of options " [value]="option.ticker">
                      {{option.ticker}} | {{option.name}}
                    </mat-option>
                  </mat-autocomplete>
              </form>
            <div class="wrap">
                <div class="search">
                   <input type="text" 
                   aria-label="Number"
                   matInput
                   [formControl]="myControl"
                   [matAutocomplete]="auto" [(ngModel)]="ticker" class="searchTerm" placeholder="Enter stock name">
                   <button type="submit" class="searchButton" (click)="navi()">
                     <i class="fa fa-search"></i>
                  </button>
                </div>
             </div>
        </div>
    </div>
</div>