<div class="container">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    <div class="row">
        
        <h1>My Portfolio</h1>
    </div>
    <!--<div *ngFor="let item of watchlistitems">
        <p>Name:{{item.name}} </p>
        <p>Ticker:{{item.ticker}} </p>
        <p>price:{{item.currentprice}} </p>
        <p>change:{{item.change}} </p>
        <p>cp:{{item.changepercent}} </p>
    </div>
    -->
    <app-portfolio-page-item *ngFor="let item of Portfolio" [item]="item" ></app-portfolio-page-item>
</div>
