<div class="container">
    
    <div class="row">
        
        <h1>My Portfolio</h1>
    </div>
    <div class="wrapper" *ngIf="isloading">
        <div class="inner"><mat-spinner></mat-spinner></div>
      </div>
    <div *ngIf="!isloading&&this.Portfolio.length==0"class="alert alert-warning" role="alert">
        Currently you don't have any stock.
      </div>
    <!--<div *ngFor="let item of watchlistitems">
        <p>Name:{{item.name}} </p>
        <p>Ticker:{{item.ticker}} </p>
        <p>price:{{item.currentprice}} </p>
        <p>change:{{item.change}} </p>
        <p>cp:{{item.changepercent}} </p>
    </div>
    -->
    <div *ngIf="!isloading">
    <app-portfolio-page-item *ngFor="let item of Portfolio" [item]="item" (buyemitter)="buy($event)" (sellemitter)="sell($event)"  ></app-portfolio-page-item>
</div>
</div>
