<div class="container">
    
    <div class="row">
        
        <h1>My Portfolio</h1>
    </div>
    <!--<div *ngFor="let item of watchlistitems">
        <p>Name:{{item.name}} </p>
        <p>Ticker:{{item.ticker}} </p>
        <p>price:{{item.currentprice}} </p>
        <p>change:{{item.change}} </p>
        <p>cp:{{item.changepercent}} </p>
    </div>
    -->
    <app-portfolio-page-item *ngFor="let item of Portfolio" [item]="item" (buyemitter)="buy($event)" (sellemitter)="sell($event)"  ></app-portfolio-page-item>
</div>
