
    <div>
        <div class="modal-header">
            <h2 class="modal-title">{{this.news.source}}</h2>
            <h3 class="modal-title">{{this.news.published}}</h3>
            <button type="button"  class="close" aria-hidden="true" style="outline:none;" aria-label="Close" (click)="this.activeModal.dismiss('Cross click')">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <b>{{this.news.title}}</b>
            <p>{{this.news.description}}</p>
            <p>for more detail click</p><a href={{this.news.url}}>here</a>
          </div>
          <div class="modal-footer">
            
            
          </div>
        </div>
